@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html,
body {
    font-family: Lato, Source Sans Pro, IBM Plex Sans, -Apple-system, BlinkMacSystemFont, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #232636;
    color: #fff;
}
.PageHeader\/header\/1IhlM {
    background-color: #232636
}
.PageToolbar\/toolbar\/1Lo1N {
    background-color: #232636;
	border-bottom: 1px solid #292d3f;
	border-top: 1px solid #292d3f;
}
.CalendarEvent\/seriesTitle\/3sg1o {
    color: #fff;
    font-weight: 700
}
.CalendarEventGroup\/seriesTitle\/ThqKe {
    color: #fff;
    font-weight: 700
}
.CalendarEventGroup\/airTime\/1Z6G9,
.CalendarEvent\/airTime\/3Wzho {
    color: #ffffff95;
}
.CalendarEvent\/missing\/1y6vZ,
.ProgressBar\/danger\/2omix,
.SeriesIndexFooter\/missingMonitored\/2_ETf,
.CalendarEvent\/missing\/1y6vZ {
    background-color: #f07178 !important;
    color: #fff;
}
.CalendarEvent\/unaired\/3aHdN,
.ProgressBar\/primary\/3YDfb,
.SeriesIndexFooter\/-continuing\/84F2g,
.CalendarEvent\/unaired\/3aHdN {
    background-color: #82aaff !important;
    ;
    color: #fff;
}
.Link\/to\/6fmSq {
    color: #82aaff;
}
.CalendarEventGroup\/eventGroup\/gWPtK {
    background-color: #82aaff;
    border-bottom: 1px solid #82aaff50;
    border-left: 4px solid #82aaff20;
    color: #fff;
}
.CalendarEvent\/downloaded\/2vSrJ,
.ProgressBar\/success\/14T8R,
.SeriesIndexFooter\/ended\/HYrLQ,
.CalendarEvent\/downloaded\/2vSrJ {
    background-color: #8de8a1d9 !important;
    color: #fff;
}
.CalendarEvent\/onAir\/dwaU_,
.SeriesIndexFooter\/missingUnmonitored\/2AL7V {
    background-color: #ffcb6b !important;
    color: #fff;
}
.CalendarEvent\/downloading\/1kwSO {
    background-color: #c792ea !important;
    color: #fff;
}
.CalendarEvent\/unmonitored\/Zvc\/m {
    background-color: #adadad !important;
    color: #fff;
}
.Message\/info\/2Kom6 {
    background-color: #35c5f4;
}
.Message\/iconContainer\/2ZEq_,
.Message\/text\/2Llhs {
    color: #fff !important;
}
.Icon\/info\/1CmtC {
    color: #292d3f50
}
.DayOfWeek\/dayOfWeek\/1iw4D {
    background-color: #292D3F;
}
.CalendarEvent\/event\/3Uyb9,
.CalendarDay\/day\/2TMXA {
    border-bottom: 1px solid #434758;
    border-left: 1px solid #434758;
    ;
}
.CalendarDays\/days\/girjM {
    border-right: 1px solid #fefefe25;
}
.Button\/default\/2uiHU {
    border-color: #232636;
    background-color: #d0d0d0;
    color: #232636;
}
.SeriesIndexOverview\/container\/4LMzH:hover .SeriesIndexOverview\/content\/3GKJk {
    background-color: #292d3f;
}
.SeriesDetailsSeason\/season\/3XIYa {
    background-color: #232636;
    border: 1px solid #293d3f;
}
.Popover\/title\/326tA,
.Popover\/popoverContainer\/1TFsF,
.Popover\/popovoer\/3g3pq,
Popover\/tether\/2UtlT,
.Popover\/body\/10Yh7 {
    border-bottom: 1px solid #232636;
    background-color: #292d3f
}
.SeriesDetailsSeason\/episodes\/2_O-g,
.TableRowCell\/cell\/2fbg4 {
    border-top: 1px solid #293d3f;
}
.SeriesDetailsSeason\/collapseButtonContainer\/trs6s {
    border-top: 1px solid #293d3f;
    background-color: #292d3f;
}
.PageSidebar\/sidebar\/3IOcI {
    background-color: #292d3f;
}
.Message\/info\/2Kom6 {
    background-color: #89ddff;
    border-left-color: #89ddff;
}
.Message\/message\/3p1Hw {
    display: -webkit-flex;
    display: flex;
    border-left: 3px solid #89ddff;
    border-left-color: rgb(137, 221, 255);
}
.Label\/success\/1pfcC {
    border-color: #8de8a1d9;
    background-color: #8de8a1d9;
    color: #eee;
}
.Label\/info\/3YD3Y {
    color: #fefefe;
    background-color: #82aaff;
    font-weight: 500;
}
.SeriesIndexPoster\/title\/263Pq {
    background-color: #232636;
    font-family: Lato, IBM Plex Sans, 'Source Sans Pro';
}
.SeriesIndexPoster\/nextAiring\/1FZy6 {
    background-color: #292d3f;
    font-family: Lato, IBM Plex Sans, 'Source Sans Pro';
}
.VirtualTableRow\/row\/2\/JS9:hover {
    background-color: #434758;
}
.TableOptionsColumn\/column\/2H7ic {
    background-color: #434758;
    border: 1px solid #292d3f;
}
.FormInputHelpText\/helpText\/3_AVV {
    color: #607D8B;
}
.CheckInput\/input\/283j3 {
    border: 1px solid #292d3f;
    background-color: #292d3f;
    color: #fff;
}
.Settings\/summary\/3KPAv {
    color: #fff
}
.Card\/card\/1iGZk {
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: #292d3f;
    box-shadow: 0 0 10px 1px #ffffff15;
    color: #fff;
}
.Card\/card\/1iGZk:hover {
	background-color: #fefefe15
}
.Label\/disabled\/2R5cR.Label\/outline\/1Lb0m {
    background-color: #29233f;
    border: 1px solid #29234f;
    color: #ffffff50
}
.FieldSet\/legend\/3x6NF {
    border-bottom: 1px solid #ffffff15;
    color: #fff;
}
.Alert\/info\/1J8mE {
    border-color: #bce8f150;
    background-color: #d9edf750;
    color: #fefefe;
}
.EnhancedSelectInput\/options\/3yy65 {
    border: 1px solid #dde6e9;
    border-radius: 4px;
    background-color: #fff;
}
.EnhancedSelectInputOption\/isSelected\/1mRo2 {
    background-color: #89ddff;
    color: #292d3f
}
.SeriesDetails\/path\/2ZNTp,
.SeriesDetails\/sizeOnDisk\/lBjcr,
.SeriesDetails\/qualityProfileName\/60zwg,
.SeriesDetails\/network\/2Ry-k,
.SeriesDetails\/links\/2sHA9,
.SeriesDetails\/tags\/2iq76 {
    font-family: Lato, Source Sans Pro, IBM Plex Sans;
}
.SeriesDetails\/path\/2ZNTp,
.SeriesDetails\/sizeOnDisk\/lBjcr,
.SeriesDetails\/qualityProfileName\/60zwg,
.SeriesDetails\/network\/2Ry-k,
.SeriesDetails\/links\/2sHA9,
.SeriesDetails\/tags\/2iq76 {
    font-weight: 500;
}

.PageContentFooter\/contentFooter\/3ODMj {
    background-color: #292d3f;
}
.AddNewSeries\/searchIconContainer\/3QAm8 {
    background-color: #607D8B;
    border-color: #607D8B;
}
.PageSidebarItem\/link\/TuHn2 {
    padding: 19px 24px;
}
